<body id="Ad-body-holder" class="home-page ">
    <div id="fb-root"></div>




    <div class="off-canvas-wrap off-canvas-wrapper">

        <div id="innerWrap" class="inner-wrap off-canvas-wrapper-inner  fixed-header   device-pc home-page "
            data-off-canvas-wrapper>
            <div class="header fixed-wrap grap wide-screen headerContainer   ">

                <div class="hide-for-small-only clearfix">
                    <div class="souq-top-bar">
                        <div class="row">
                            <ul class="dropdown menu teasers-list  small-5 columns show-for-xlarge " data-dropdown-menu
                                data-hover-delay="300" data-closing-time="0">
                                <li id="freeShippingTeaser" class="free-shipping-teaser">
                                    <i class="fi-cargo-truck"></i>&nbsp;
                                    <a href="javascript:void(0);" data-options=""><small>Free Shipping</small></a>
                                    <ul class="menu is-dropdown-submenu">
                                        <li class="return-tooltip free-shipping-tooltip home-page"
                                            id="free-shipping-teaser-tooltip">
                                            All orders of 350.00 EGP or more on eligible items across any product
                                            category qualify for FREE Shipping.&nbsp;
                                            <a href="https://egypt.souq.com/eg-en/fbs-free-shipping/c/" target="_blank"
                                                local="">Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li id="returnsTeaser">
                                    <i class="fi-loop"></i>&nbsp;
                                    <a href="javascript:void(0);"><small>Free Returns</small></a>
                                    <ul class="menu is-dropdown-submenu">
                                        <li class="return-tooltip">
                                            Changed your mind, you can return your product and get a full refund.&nbsp;
                                        </li>
                                    </ul>
                                </li>

                                <li id="CODTeaser" class="COD-Teaser">
                                    <i class="fi-dollar"></i>&nbsp;
                                    <a href="javascript:void(0);" data-options=""><small>Cash on Delivery</small></a>
                                    <ul class="menu is-dropdown-submenu">
                                        <li class="return-tooltip CODTeaser">
                                            Pay for your order in cash at the moment the shipment is delivered to your
                                            doorstep. </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="h-list account-list small-12 medium-12 large-8 xlarge-6 columns">
                                <li id="isPrime" class="hide">

                                </li>

                                <li class="dodLink show-for-non-minimal">
                                    <a href="https://deals.souq.com/eg-en/?utm_source=souq">Daily Deals</a>
                                </li>

                                <li class="dodLink show-for-non-minimal">
                                    <a href="https://deals.souq.com/eg-en/?utm_source=souq">Daily Deals</a>
                                </li>

                                <li>
                                    <a href="https://egypt.souq.com/eg-en/HelpCenter/Home" target="_blank"
                                        local="">Customer Service</a>
                                </li>

                                <li class="show-for-non-minimal sellingCenterLink">
                                    <a href="https://sell.souq.com" target="_blank">Sell with Us</a>
                                </li>


                                <li class="myAccountLink show-for-non-minimal">
                                    <a href="https://egypt.souq.com/eg-en/account.php">Track Orders</a>
                                </li>

                                <li id="Ship_To" class="region with-flyout" data-flyout-content><a
                                        href="javascript: void(0);" data-flyout="cbt-popUp" title="Ship to Egypt"><i
                                            class="header-country-flag flag_eg"></i></a>
                                    <div class="flyout cbt-popUp">
                                        <ul id="cbt-popUp" class="option2">
                                            <li>
                                                <label><b>Ship to </b></label>
                                                <select id="selectCountries" name="selectCountries">
                                                    <option value="ae">UAE</option>
                                                    <option value="eg" selected="selected">Egypt</option>
                                                    <option value="sa">Saudi</option>
                                                    <option value="kw">International Shopping</option>
                                                </select>
                                            </li>
                                            <li>
                                                <label><b>Language</b></label>
                                                <input type="radio" id="languge-typeen" name="languge-type" value="en"
                                                    checked="checked" /><label for="languge-typeen">English</label>
                                                <input type="radio" id="languge-typear" name="languge-type"
                                                    value="ar" /><label for="languge-typear">عربي</label>
                                                <a href="javascript:void(0);" id="change-contries"
                                                    class="button tiny expand">Save & Continue</a>
                                            </li>
                                            <li class="local">Souq.com Local Sites</li>
                                            <li class="countries">
                                                <a href="https://uae.souq.com/">UAE</a> <a
                                                    href="https://egypt.souq.com/">Egypt</a> <a
                                                    href="https://saudi.souq.com/">Saudi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="region">
                                    <a href="https://egypt.souq.com/eg-ar/?phgid=1011l5emg&amp;pubref=pub01||||&amp;utm_source=affiliate_hub&amp;utm_medium=cpt&amp;utm_content=affiliate&amp;utm_campaign=100l2&amp;u_type=text&amp;u_title=&amp;u_c=&amp;u_fmt=&amp;u_a=1011l63520&amp;u_as=pub01||||&amp;adref=couponmozo"
                                        class="lang-link">العربية</a>
                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <div class="header-middle-row">
                    <div class="row row-small-gutter">
                        <div class="small-5 medium-3 large-2 columns">
                            <ul class="h-list logoList text-default">
                                <li class="burger-menu">
                                    <a data-toggle="offCanvasLeft" href="javascript:void(0);"
                                        class="left-off-canvas-toggle">
                                        <i class="fi-menu"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://egypt.souq.com/eg-en/"><img
                                            src="https://cf1.s3.souqcdn.com/public/style/img/en/souqAmazon-logo-v2.png"
                                            class="logo" alt="Souq.com Logo" title="Souq.com"
                                            data-interchange="[https://cf1.s3.souqcdn.com/public/style/img/en/souqAmazon-logo-v2-X2.png, retina]" /></a>
                                    <span class="header-title-text hide"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="mobile-menu show-for-small-only small-7 columns">
                            <div id="mini-cart_mobile" class="mini-cart mini-cart_mobile_aj with-flyout"
                                data-xleft-items="0" data-flyout-content>
                                <a href="https://egypt.souq.com/eg-en/shopping_cart.php" id="miniCartClose"
                                    class="disabled-before" data-translate="Cart" data-options="align:left"
                                    data-flyout="cartDrop_mobile"><i class='fi-cart-new'></i> <span
                                        class='cart-item-count-aj show-mini-cart-aj cart-icon-item-count hide'></span></a>
                                <div id="cartDrop_mobile" class="cart-dropdown flyout  cartDropItem"
                                    data-dropdown-content></div>
                            </div>

                            <ul class="clearfix">
                                <li class="mobile-search-button ">
                                    <i class="fi-magnifying-glass"></i>
                                </li>
                                <li id="login_user_name_mobile"
                                    class="login-user-name ellipsis-loading with-flyout user_login" data-flyout-content>
                                    <label id="userNameLoading"
                                        class="calling-label loading-dots-container"><span>.</span><span>.</span><span>.</span></label>

                                    <a id="userNameField_mobile" href="javascript:void(0);"
                                        class="userNameField truncate" data-options="align:bottom"
                                        data-flyout="userName_mobile"></a>
                                    <div class="flyout user-menu">
                                        <ul id="userName_mobile" class="filter-group">
                                            <li class="login-li row loginRemoval">
                                                <div class="small-12 columns">
                                                    <a href="https://egypt.souq.com/eg-en/login.php"
                                                        class="login-button" local="">Log In</a>
                                                </div>
                                                <div class="to-sign-up small-12 columns">
                                                    <span class="register-now">Don't have an account? <a
                                                            href="https://egypt.souq.com/eg-en/register.php"
                                                            class="login_to_register">Sign Up</a> </span>
                                                </div>

                                            </li>

                                            <li class="login-li row completeProfileContainer hide">
                                                <div id="circleLoader" class="small-3 columns  clearPadding-h"
                                                    data-percentage="90">
                                                    <svg id="svg" width="40" height="40" viewPort="0 0 100 100"
                                                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                        <circle id="filler" r="18" cx="50%" cy="50%" fill="transparent"
                                                            stroke-dasharray="113.04" stroke-dashoffset="0"></circle>
                                                        <circle transform='rotate(-89 20 20)' id="bar" r="18" cx="50%"
                                                            cy="50%" fill="transparent" stroke-dasharray="113.04"
                                                            stroke-dashoffset="113.097px"></circle>
                                                    </svg>
                                                    <small class="completed-label">Completion</small>

                                                </div>

                                                <div class="small-8 columns clearPadding-h birth-day-content">
                                                    <strong>Update your profile</strong><br>
                                                    <span>Let us wish you a happy birthday!</span><br>
                                                    <a id="openCompleteReveal" href="#"
                                                        class="clearPadding-h clearPadding-v"
                                                        data-open="completeReveal">Add your birthday</a>

                                                </div>
                                            </li>

                                            <li><a href="https://egypt.souq.com/eg-en/account.php"
                                                    class="change-if-seller">My Orders</a> </li>
                                            <li><a href="https://egypt.souq.com/eg-en/account_addresses.php">My
                                                    Addressesfrrrrrrrr</a> </li>
                                            <li><a href="https://egypt.souq.com/eg-en/account_lists.php">Wish Lists</a>
                                            </li>
                                            <li class="hide-for-large"><a
                                                    href="https://egypt.souq.com/eg-en/buy_it_again.php">Buy it
                                                    Again</a> </li>
                                            <li><a href="https://egypt.souq.com/eg-en/account_settings.php">Account
                                                    Settings</a> </li>
                                            <li><a href="https://egypt.souq.com/eg-en/account_overview.php">Account
                                                    Summary</a> </li>

                                            <li class="toRemove"><a
                                                    href="https://egypt.souq.com/eg-en/logout.php">Logout</a> </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="small-12 medium-6 large-8 columns extra search-wrapper clearPadding-h-small "
                            id="search-mobile">
                            <div class="header-search">
                                <form action="https://egypt.souq.com/eg-en/search_results.php" id="searchForm"
                                    method="get"><input type="hidden" id="hitsCfs" name="hitsCfs"
                                        value="0473da271e4f0743d88d65c9a92b28d6" /><input type="hidden" id="hitsCfsMeta"
                                        name="hitsCfsMeta"
                                        value="pwXSlSn+I8r93oMhHDd0QHEMFLs9VSRsTgVVVGJfmsaA9y4G74myCSmx1EdliUmaLBaZemslFcoGr9Htivi/NSXH/PkQIhHNqns1bqaJRvzmI06RrWW/a2ZpXsnW1G1YERqr/qFNXiKg2fHKKxYjmx2WN9XPInhHL26Rem7XVqo=" />
                                    <div class="input-group" id="search_box">
                                        <input type="text" id="search_value" name="q" class="input-group-field"
                                            placeholder="What are you looking for?" autocomplete="off" tabindex="-1">
                                        <div class="input-group-button">
                                            <button id="searchButton" class="button primary expand" type="submit"
                                                name="button"><i class="fi-magnifying-glass"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="medium-3 large-2 columns user-area show-for-medium">
                            <div id="mini-cart_topbar" class="mini-cart mini-cart_topbar_aj with-flyout"
                                data-xleft-items="0" data-flyout-content>
                                <a href="https://egypt.souq.com/eg-en/shopping_cart.php" id="miniCartClose"
                                    class="disabled-before" data-translate="Cart" data-options="align:left"
                                    data-flyout="cartDrop_mobile"><i class='fi-cart-new'></i> <span
                                        class='cart-item-count-aj show-mini-cart-aj cart-icon-item-count hide'></span></a>
                                <div id="cartDrop_topbar" class="cartDropItem cart-dropdown flyout "
                                    data-dropdown-content></div>
                            </div>

                            <div id="login_user_name_topbar"
                                class="show-for-medium opposite-direction ellipsis-loading with-flyout user_login login-user-name text-center remove-pointer-events has-tip">
                                <label id="userNameLoading"
                                    class="calling-label loading-dots-container"><span>.</span><span>.</span><span>.</span></label>

                                <a id="userNameField_topbar" href="javascript:void(0);"
                                    class="truncate userNameField"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
