<div class="sidenav">
    <a routerLink="/products">Products</a>
    <a routerLink="/categories">Categories</a>
  
    <a routerLink="/models">Models</a>
    <a routerLink="/brans">Brands</a>
    <a href="#Orders">users</a>
    <a href="#Orders">Orders</a>
    <a routerLink="/subcategories">sub_Categories</a>
  </div>
  
  <div class="main">
     
   <router-outlet></router-outlet>
</div>
  
<!-- 
<nav class=" border-top dashboardSideBar">
    <ul class="list-unstyled pt-5 pl-3">
        <li>
            <a routerLink="categories"><i class="fas fa-tags"></i> Categories</a>
        </li>
        <li> 
            
            <a routerLink="products"> <i class="fas fa-border-all"></i> Products</a>
        </li>
        <li>
            <a routerLink="subCategories"><i class="fas fa-tags"></i> Sub Categories</a>
        </li>
        <li>
            <a routerLink="brans"><i class="fas fa-tags"></i> Brands</a>
        </li>
        <li>
            <a routerLink="Models"><i class="fas fa-tags"></i> Modals</a>
        </li>
        <li> 
            <a routerLink="users"> <i class="fas fa-users"></i> Users</a>
        </li>
        <li> 
            <a routerLink="orders"><i class="fas fa-truck"></i> Orders</a>
        </li>
        
    </ul>
</nav>
 -->